<html>
    <body>
         <form action="/docalculation" method="post">
        <input type="number" name="num1"/>
        <input type="number" name="num2"/>
        <input type="submit" value="Show Result"/>
         <type="submit" value="subtraction"/>
          <type="submit" value="Multiplication"/>
           <type="submit" value="Division"/> 
        <p>Addition: {{result1}}</p>
          <p>subtraction: {{result2}}</p>
          <p>Multiplication: {{result3}}</p>
           <p>Division: {{result4}}</p>
        </form>
    </body>
</html>