<html>
    <head>
        <script>
            function show()
            {
                let http=new XMLHttpRequest()
                http.onload=function()
                {
                    let jsonobj=JSON.parse(http.response)
                    console.log(jsonobj)
                    document.getElementById("p1").innerHTML=`<h5>Message:${jsonobj.message}</h5>`
                     document.getElementById("p2").innerHTML=`<h5>Sender:${jsonobj.sender}</h5>`
                   // console.log(jsonobj)
                }
                http.open("get","http://localhost:5000/message")
                http.send()
            }

            function calsquare()
            {
                let num=document.getElementById("num").value
                let obj={num:num}
                let http=new XMLHttpRequest()
                http.onload=function()
                {
                    let jsonobj=JSON.parse(http.response)
                     
                      document.getElementById("p3").innerHTML=`<h5>Square:${jsonobj.sqr}</h5>`
                console.log(jsonobj.sqr)
                }
                http.open("post","http://localhost:5000/square")
                http.setRequestHeader("Content-Type", "application/json");
                http.send(JSON.stringify(obj));
                 
            }

        </script>
    </head>

    <body>
     <input type="button" value="SHOWMWSSAGE" onclick="show()"/>
        <p id="p1"></p>
          <p id="p2"></p>

    Enter Number: <input type="number" id="num" /> 
   square: <input type="button" value="Result" onclick="calsquare()"/>
<p id="p3"> Square: </p>
    </body>
    </html>